---
const homeTitle = 'Home';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{homeTitle}</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about/">Sobre</a>
      <a href="/blog/">Blog</a>
    </nav>
    <h1>Astro</h1>
  </body>
</html>
