---
import Greeting from '../components/Greeting';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Home Page';
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <Greeting
    client:load
    messages={[
      'Oi',
      'Olá',
      'E aí',
      'Salve',
      'Bom dia',
      'Boa tarde',
      'Boa noite',
      'Fala!',
      'Tudo bem?',
      'Como vai?',
      'Oi, tudo certo?',
      'Olá, pessoal',
    ]}
  />
</BaseLayout>

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
